<div class="container">
  <form [formGroup]='form' (ngSubmit)='editProduct($event)'>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input  type="text" class="form-control" id="exampleFormControlInput1" placeholder="Title" formControlName='title'>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Image</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Image" formControlName='image'>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="description" formControlName='description'>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Price</label>
      <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="price" formControlName='price'>
    </div>
    <button type="submit" class="btn btn-primary">Edit Product</button>
  </form>

</div>

